:root {
  --font-family-montserrat: 'Montserrat', sans-serif;
  --text-white: rgba(255, 255, 255, 1);
  --text-black: rgba(0, 0, 0, 1);
  --text-rgb-129-129-129: rgba(129, 129, 129, 1);
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.text-rgb-129-129-129 {
  color: var(--text-rgb-129-129-129);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Prototype Links (v5.6.0) */
a.prototype-link {
  text-decoration: none;
  color: inherit;
  display: contents;
}

.logo-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.rectangle-11-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 40px;
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.propiedad-1-predeterminado {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-12-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 40px;
}

.text-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.rectangle-13-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 40px;
}

.text-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.rectangle-14-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 40px;
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.botones-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.carpeta-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(228, 135, 124, 1);
  border: none;
  outline: none;
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
  text-transform: none;
  color: var(--text-black);
}

.text-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
  text-transform: none;
  color: var(--text-black);
}

.text-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
  text-transform: none;
  color: var(--text-black);
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
  text-transform: none;
  color: var(--text-black);
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.explorar-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.icon-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1.5445544719696045px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.size-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1.5445544719696045px solid rgba(30, 30, 30, 1);
  border: none;
  outline: none;
}

.contacto-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-19-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 28.200000762939453px;
}

.subtract-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.text-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 14.100000381469727px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-129-129-129);
}

.text-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.send-1-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.barra-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.line-2-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 0.5px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.abajo-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.img_5039-1-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
  width: 100%;
  height: auto;
}

.img_5038-1-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
  width: 100%;
  height: auto;
}

.img_5042-1-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
  width: 100%;
  height: auto;
}

.stickers-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-33-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-14-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-35-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-16-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-34-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-15-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-26-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-42-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-19-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-44-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-66 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-67 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-17-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-43-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-18-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-27-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-74 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-39-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-76 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-21-73 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-41-78 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-23-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-40-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-83 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-22-81 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-29-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-36-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-89 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-20-86 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-38-91 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-92 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-93 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-24-90 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-37-95 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-96 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-97 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 25px;
  line-height: 42.59259033203125px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-25-94 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-28-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.proyectos-1-98 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.img_5033-2-99 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.img_5033-3-100 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.proyectos-desktop-1 {
@media (max-width: 1440px) {
  .proyectos-desktop-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .proyectos-desktop-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(250, 239, 217, 1);
}
