html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #faefd9;
}



/* ESTE DIV CENTRA EL DISEÑO */
.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* ESTE ES TU DISEÑO ESCALADO */
.INICIO-DESKTOP {
 width: 1440px;
  min-height: 2427px;
    overflow: hidden;
  position: relative;

  /* Escalado y centrado */
  transform-origin: top center;
  transform: scale(calc(100vw / 1440));
  margin: 0 auto;      /* CENTRA el diseño */
}

.INICIO-DESKTOP .LOGO {
  position: absolute;
  top: 67px;
  left: calc(50.00% - 72px);
  max-width: 100%;
  height: 129px;
  aspect-ratio: 1;
  object-fit: cover;
}


.INICIO-DESKTOP .BOTONES {
  position: absolute;
  top: 110px;
  left: 174px;
  width: 1078px;
  height: 42px;
}

.INICIO-DESKTOP .component {
  top: 0;
  left: 914px;
  position: absolute;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.INICIO-DESKTOP .text-wrapper {
  position: absolute;
  width: 85.37%;
  height: 57.14%;
  top: 21.43%;
  left: 7.32%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INICIO-DESKTOP .div-wrapper {
  top: 0;
  right: 914px;
  position: absolute;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.INICIO-DESKTOP .div {
  position: absolute;
  width: 40.24%;
  height: 57.14%;
  top: 21.43%;
  left: 29.88%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INICIO-DESKTOP .component-2 {
  top: 0;
  left: 203px;
  position: absolute;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.INICIO-DESKTOP .text-wrapper-2 {
  position: absolute;
  width: 62.80%;
  height: 57.14%;
  top: 21.43%;
  left: 18.90%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INICIO-DESKTOP .component-3 {
  top: 0;
  left: 712px;
  position: absolute;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.INICIO-DESKTOP .text-wrapper-3 {
  position: absolute;
  width: 76.83%;
  height: 57.14%;
  top: 21.43%;
  left: 11.59%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INICIO-DESKTOP .ILUSTRACION {
  position: absolute;
  top: 170px;
  aspect-ratio: 1440/600;
  /*justify-content: center;*/
  left: calc(50.00% - 659px);
  max-width: 100%;
  height: auto;
  display: block;
  width: 1294px;
  height: 728px;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.INICIO-DESKTOP .BARRA {
  position: relative;
  top: 898px;
  justify-content: center;
  max-width: 100%;
  height: auto;
  /*left:0;
  width: 1442px;
  height: 42px;*/
}

.INICIO-DESKTOP .rectangle {
  position: absolute;
  margin-top: 0;
  left: 0;
  width: 1440px;
  height: 42px;
  background-color: #c2cf5a;
}

.INICIO-DESKTOP .DISE-o-GR-FICO {
  position: relative;
  top: 9px;
  left: calc(50.00% - 714px);
  width: 1427px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .SERVICIOS {
  position: relative;
  top: 1001px;
  margin-top: 60 px;
  left: calc(50.00% - 659px);
  width: 1290px;
  height: 362px;
}

.INICIO-DESKTOP .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 615px);
  width: 358px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 45.8px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .group {
  position: absolute;
  top: 44px;
  left: 0;
  width: 440px;
  height: 318px;
}

.INICIO-DESKTOP .IMG {
  position: absolute;
  top: 0;
  left: 0;
  width: 318px;
  height: 318px;
  aspect-ratio: 1;
  object-fit: cover;
}

.INICIO-DESKTOP .rectangle-2 {
  position: absolute;
  top: 86px;
  left: 193px;
  width: 243px;
  height: 150px;
  background-color: #faefd9b2;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #0000001a;
}

.INICIO-DESKTOP .IDENTIDAD-VISUAL {
  position: absolute;
  top: 105px;
  left: calc(50.00% - 10px);
  width: 210px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 35px;
}

.INICIO-DESKTOP .p {
  position: absolute;
  top: 175px;
  left: calc(50.00% - 7px);
  width: 207px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .group-2 {
  position: absolute;
   top: 44px;
  left: 924px;
  width: 368px;
  height: 268px;
}

.INICIO-DESKTOP .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 268px;
  height: 268px;
  aspect-ratio: 1;
  object-fit: cover;
}

.INICIO-DESKTOP .rectangle-3 {
  position: absolute;
  top: 86px;
  left: 121px;
  width: 243px;
  height: 150px;
  background-color: #faefd9b2;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #0000001a;
}

.INICIO-DESKTOP .DISE-o-EDITORIAL {
  position: absolute;
  top: 102px;
  left: calc(50.00% - 42px);
  width: 216px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 35px;
}

.INICIO-DESKTOP .text-wrapper-5 {
  position: absolute;
  top: 175px;
  left: calc(50.00% - 42px);
  width: 207px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .group-3 {
  position: absolute;
  top: 67px;
  left: 487px;
  width: 387px;
  height: 279px;
}

.INICIO-DESKTOP .IMG-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 279px;
  height: 279px;
  aspect-ratio: 1;
  object-fit: cover;
}

.INICIO-DESKTOP .rectangle-4 {
  position: absolute;
  top: 63px;
  left: 140px;
  width: 243px;
  height: 150px;
  background-color: #faefd9b2;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #0000001a;
}

.INICIO-DESKTOP .text-wrapper-6 {
  position: absolute;
  top: 108px;
  left: calc(50.00% - 42px);
  width: 219px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 35px;
}

.INICIO-DESKTOP .text-wrapper-7 {
  position: absolute;
  top: 146px;
  left: calc(50.00% - 42px);
  width: 219px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .group-4 {
  position: absolute;
  top: 1424px;
  left: 0;
  width: 1442px;
  height: 488px;
  display: flex;
  gap: 36.4px;
}

 .frame {
  margin-left: 0;
background-image: url(./img/frame-1-39.png) !important;
  width: 333.22px;
  height: 488px;
  background-size: cover;
  background-position: 50% 50%;
}

.frame-2 {
  background-image: url(./img/frame-4-40.png)!important;
  width: 333.22px;
  height: 488px;
  background-size: cover;
  background-position: 50% 50%;
}

.frame-3 {
  background-image: url(./img/frame-5-41.png) !important;
  width: 333.22px;
  height: 488px;
  background-size: cover;
  background-position: 50% 50%;
}

.frame-4 {
  background-image: url(./img/frame-7-42.png) !important;
  width: 333.22px;
  height: 488px;
  background-size: cover;
  background-position: 50% 50%;
}

.INICIO-DESKTOP .component-4 {
  top: 1957px;
  left: calc(50.00% - 82px);
  position: absolute;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.INICIO-DESKTOP .text-wrapper-8 {
  position: absolute;
  height: 57.14%;
  top: 21.43%;
  left: calc(50.00% - 71px);
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INICIO-DESKTOP .carpeta {
  position: absolute;
  top: 2076px;
  left: 0;
  width: 1440px;
  height: 351px;
}

.INICIO-DESKTOP .text-wrapper-9 {
  position: absolute;
  top: 2091px;
  left: 97px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INICIO-DESKTOP .explorar {
  position: absolute;
  top: 2278px;
  left: 344px;
  width: 390px;
  height: 45px;
}

.INICIO-DESKTOP .text-wrapper-10 {
  position: absolute;
  top: 27px;
  left: 0;
  width: 40px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.INICIO-DESKTOP .text-wrapper-11 {
  position: absolute;
  top: 27px;
  left: 76px;
  width: 67px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.INICIO-DESKTOP .text-wrapper-12 {
  position: absolute;
  top: 27px;
  left: 178px;
  width: 73px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.INICIO-DESKTOP .text-wrapper-13 {
  position: absolute;
  top: 27px;
  left: 286px;
  width: 94px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.INICIO-DESKTOP .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .contacto {
  position: absolute;
  top: 2177px;
  left: 344px;
  width: 261px;
  height: 64px;
}

.INICIO-DESKTOP .text-wrapper-15 {
  position: absolute;
  top: 20px;
  left: 26px;
  width: 229px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .text-wrapper-16 {
  position: absolute;
  top: 45px;
  left: 26px;
  width: 85px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .text-wrapper-17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .instagram {
  position: absolute;
  top: 45px;
  left: 0;
  width: 19px;
  height: 19px;
}

.INICIO-DESKTOP .icon {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 4.17%;
  left: 4.20%;
}

.INICIO-DESKTOP .mail {
  position: absolute;
  top: 21px;
  left: 0;
  width: 19px;
  height: 19px;
}

.INICIO-DESKTOP .icon-2 {
  position: absolute;
  width: 83.33%;
  height: 66.67%;
  top: 12.50%;
  left: 4.20%;
}

.INICIO-DESKTOP .barra {
  position: absolute;
  top: 2177px;
  left: 922px;
  width: 378px;
  height: 98px;
}
.INICIO-DESKTOP .send {
  position: absolute;
  top: 61px;
  left: 326px;
  width: 25px;
  height: 25px;
  aspect-ratio: 1;
  object-fit: cover; 
      z-index: 5;
}
.INICIO-DESKTOP .rectangle-5 {
  position: absolute;
  top: 51px;
  left: 0;
  width: 372px;
  height: 47px;
  background-color: #ffffff;
  border-radius: 28.2px;
}

.INICIO-DESKTOP .subtract {
  position: absolute;
  top: 51px;
  left: 305px;
  width: 67px;
  height: 47px;
}

.INICIO-DESKTOP .text-wrapper-18 {
  position: absolute;
  top: 66px;
  left: 19px;
  width: 41px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #818181;
  font-size: 14.1px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .text-wrapper-19 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 146px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}


.INICIO-DESKTOP .text-wrapper-20 {
  position: absolute;
  top: 19px;
  left: 3px;
  width: 232px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}



.INICIO-DESKTOP .abajo {
  position: absolute;
  top: 2366px;
  left: calc(50.00% - 683px);
  width: 1368px;
  height: 36px;
  display: flex;
  flex-direction: column;
  gap: 17.5px;
}

.INICIO-DESKTOP .line {
  width: 1366px;
  height: 1px;
  margin-top: -0.5px;
}

.INICIO-DESKTOP .derechos-reservados {
  margin-left: -14px;
  height: 18px;
  width: 332px;
  align-self: center;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.INICIO-DESKTOP .span {
  font-family: "Montserrat-LightItalic", Helvetica;
  font-style: italic;
}

.INICIO-DESKTOP .STICKERS {
  position: absolute;
  top: 2138px;
  left: 76px;
  width: 184px;
  height: 211px;
}

.INICIO-DESKTOP .IMG-3 {
  position: absolute;
  top: 29px;
  left: 78px;
  width: 116px;
  height: 108px;
  aspect-ratio: 1.09;
}

.INICIO-DESKTOP .IMG-4 {
  position: absolute;
  top: 76px;
  left: 21px;
  width: 136px;
  height: 145px;
  aspect-ratio: 0.93;
}

.INICIO-DESKTOP .IMG-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 139px;
  height: 165px;
  aspect-ratio: 0.62;
}
/* Inject original CSS code here */



.INICIO-DESKTOP .icon {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 4.17%;
  left: 4.20%;
}

.INICIO-DESKTOP .mail {
  position: absolute;
  top: 21px;
  left: 0;
  width: 19px;
  height: 19px;
}

.INICIO-DESKTOP .icon-2 {
  position: absolute;
  width: 83.33%;
  height: 66.67%;
  top: 12.50%;
  left: 4.20%;
}

.INICIO-DESKTOP .barra {
  position: absolute;
  top: 2177px;
  left: 922px;
  width: 378px;
  height: 98px;
}

.INICIO-DESKTOP .barra form {
  position: relative;
  width: 100%;
  height: 100%;
}

.INICIO-DESKTOP .rectangle-5 {
  position: absolute;
  top: 51px;
  left: 0;
  width: 372px;
  height: 47px;
  background-color: #ffffff;
  border-radius: 28.2px;
}

.INICIO-DESKTOP .subtract {
  position: absolute;
  top: 51px;
  left: 305px;
  width: 67px;
  height: 47px;
  pointer-events: none;
}

.INICIO-DESKTOP .barra input[type="email"] {
  position: absolute;
  top: 66px;
  left: 19px;
  width: 280px;
  height: 20px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14.1px;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  outline: none;
  z-index: 1;
}

.INICIO-DESKTOP .barra input[type="email"]::placeholder {
  color: #818181;
}

.INICIO-DESKTOP .barra input[type="email"]:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
  border-radius: 4px;
}

.INICIO-DESKTOP .barra button[type="submit"] {
  position: absolute;
  top: 61px;
  left: 326px;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 5;
}

.INICIO-DESKTOP .barra button[type="submit"]:hover {
  transform: scale(1.1);
}

.INICIO-DESKTOP .barra button[type="submit"]:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
  border-radius: 4px;
}

.INICIO-DESKTOP .text-wrapper-19 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 146px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.INICIO-DESKTOP .text-wrapper-20 {
  position: absolute;
  top: 19px;
  left: 3px;
  width: 232px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}




