html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
      background-color: #faefd9;
}


/* ESTE DIV CENTRA EL DISEÑO */
.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.AURORA-DESKTOP {
 width: 1440px;
  min-height: 2427px;
  position: relative;

  /* Escalado y centrado */
  transform-origin: top center;
  transform: scale(calc(100vw / 1440));
  margin: 0 auto;      /* CENTRA el diseño */
  
}

.AURORA-DESKTOP .LOGO {
  position: absolute;
  top: 67px;
  left: calc(50.00% - 65px);
  width: 129px;
  height: 129px;
  aspect-ratio: 1;
  object-fit: cover;
}

.AURORA-DESKTOP .BOTONES {
  position: absolute;
  top: 110px;
  left: 181px;
  width: 1078px;
  height: 42px;
}

.AURORA-DESKTOP .component {
  left: 914px;
  position: absolute;
  top: 0;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.AURORA-DESKTOP .text-wrapper {
  position: absolute;
  width: 85.37%;
  height: 57.14%;
  top: 21.43%;
  left: 7.32%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.AURORA-DESKTOP .div-wrapper {
  right: 914px;
  position: absolute;
  top: 0;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.AURORA-DESKTOP .div {
  position: absolute;
  width: 40.24%;
  height: 57.14%;
  top: 21.43%;
  left: 29.88%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.AURORA-DESKTOP .component-2 {
  left: 203px;
  position: absolute;
  top: 0;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.AURORA-DESKTOP .text-wrapper-2 {
  position: absolute;
  width: 62.80%;
  height: 57.14%;
  top: 21.43%;
  left: 18.90%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.AURORA-DESKTOP .component-3 {
  left: 712px;
  position: absolute;
  top: 0;
  width: 164px;
  height: 42px;
  background-color: #000000;
  border-radius: 40px;
}

.AURORA-DESKTOP .text-wrapper-3 {
  position: absolute;
  width: 76.83%;
  height: 57.14%;
  top: 21.43%;
  left: 11.59%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.AURORA-DESKTOP .carpeta {
  position: absolute;
  top: 2076px;
  left: 0;
  width: 1440px;
  height: 351px;
}

.AURORA-DESKTOP .text-wrapper-4 {
  position: absolute;
  top: 2091px;
  left: 97px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.AURORA-DESKTOP .explorar {
  position: absolute;
  top: 2278px;
  left: 344px;
  width: 390px;
  height: 45px;
}

.AURORA-DESKTOP .text-wrapper-5 {
  position: absolute;
  top: 27px;
  left: 0;
  width: 40px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.AURORA-DESKTOP .text-wrapper-6 {
  position: absolute;
  top: 27px;
  left: 76px;
  width: 67px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.AURORA-DESKTOP .text-wrapper-7 {
  position: absolute;
  top: 27px;
  left: 178px;
  width: 73px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.AURORA-DESKTOP .text-wrapper-8 {
  position: absolute;
  top: 27px;
  left: 286px;
  width: 94px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.AURORA-DESKTOP .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .contacto {
  position: absolute;
  top: 2177px;
  left: 344px;
  width: 261px;
  height: 64px;
}

.AURORA-DESKTOP .text-wrapper-10 {
  position: absolute;
  top: 20px;
  left: 26px;
  width: 229px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .text-wrapper-11 {
  position: absolute;
  top: 45px;
  left: 26px;
  width: 85px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .text-wrapper-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .instagram {
  position: absolute;
  top: 45px;
  left: 0;
  width: 19px;
  height: 19px;
}

.AURORA-DESKTOP .icon {
  position: absolute;
  width: 83.33%;
  height: 83.33%;
  top: 4.17%;
  left: 4.20%;
}

.AURORA-DESKTOP .mail {
  position: absolute;
  top: 21px;
  left: 0;
  width: 19px;
  height: 19px;
}

.AURORA-DESKTOP .img {
    z-index: 2;  
  position: absolute;
  width: 83.33%;
  height: 66.67%;
  top: 12.50%;
  left: 4.20%;
}

.AURORA-DESKTOP .barra {
  position: absolute;
  top: 2177px;
  left: 922px;
  width: 378px;
  height: 98px;
}

.AURORA-DESKTOP .rectangle {
  position: absolute;
  top: 51px;
  left: 0;
  width: 372px;
  height: 47px;
  background-color: #ffffff;
  border-radius: 28.2px;
}

.AURORA-DESKTOP .subtract {
  position: absolute;
  top: 51px;
  left: 305px;
  width: 67px;
  height: 47px;
}

.AURORA-DESKTOP .text-wrapper-13 {
  position: absolute;
  top: 66px;
  left: 19px;
  width: 41px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #818181;
  font-size: 14.1px;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 146px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .p {
  position: absolute;
  top: 19px;
  left: 3px;
  width: 232px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .send {
  position: absolute;
  top: 61px;
  left: 326px;
  width: 25px;
  height: 25px;
  aspect-ratio: 1;
  object-fit: cover;
}

.AURORA-DESKTOP .abajo {
  position: absolute;
  top: 2366px;
  left: calc(50.00% - 683px);
  width: 1368px;
  height: 36px;
  display: flex;
  flex-direction: column;
  gap: 17.5px;
}

.AURORA-DESKTOP .line {
  width: 1366px;
  height: 1px;
  margin-top: -0.5px;
}

.AURORA-DESKTOP .derechos-reservados {
  margin-left: -14px;
  height: 18px;
  width: 332px;
  align-self: center;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.AURORA-DESKTOP .span {
  font-family: "Montserrat-LightItalic", Helvetica;
  font-style: italic;
}

.AURORA-DESKTOP .STICKERS {
  position: absolute;
  top: 2138px;
  left: 76px;
  width: 184px;
  height: 211px;
}

.AURORA-DESKTOP .IMG {
  position: absolute;
  top: 29px;
  z-index: 11;
  left: 78px;
  width: 116px;
  height: 108px;
  aspect-ratio: 1.09;
}

.AURORA-DESKTOP .IMG-2 {
  position: absolute;
  top: 76px;
  z-index: 11;
  left: 21px;
  width: 136px;
  height: 145px;
  aspect-ratio: 0.93;
}

.AURORA-DESKTOP .IMG-3 {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 139px;
  height: 165px;
  aspect-ratio: 0.62;
}

.AURORA-DESKTOP .proyectos {
  position: absolute;
  top: 269px;
  left: 495px;
  width: 449px;
  height: 105px;
  aspect-ratio: 4.28;
  object-fit: cover;
}

.AURORA-DESKTOP .IMG-4 {
  left: 365px;
  position: absolute;
  top: 263px;
  width: 118px;
  height: 118px;
  aspect-ratio: 1;
  object-fit: cover;
}

.AURORA-DESKTOP .IMG-5 {
  left: 956px;
  position: absolute;
  top: 263px;
  width: 118px;
  height: 118px;
  aspect-ratio: 1;
  object-fit: cover;
}

.AURORA-DESKTOP .rectangle-2 {
  position: absolute;
  top: 429px;
  left: 607px;
  width: 214px;
  height: 36px;
  background-color: #ffc02f;
  border-radius: 28.73px;
}

.AURORA-DESKTOP .ubicacin {
  position: absolute;
  top: 438px;
  left: calc(50.00% - 106px);
  width: 202px;
  height: 21px;
  display: flex;
  justify-content: center;
}

.AURORA-DESKTOP .text-wrapper-15 {
  margin-top: 0;
  width: 199.64px;
  height: 20.89px;
  margin-left: -2.0px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .ubicacin-2 {
  position: absolute;
  top: 477px;
  left: calc(50.00% - 106px);
  width: 202px;
  height: 18px;
  display: flex;
  justify-content: center;
}

.AURORA-DESKTOP .text-wrapper-16 {
  margin-top: 0;
  width: 199.64px;
  height: 18px;
  margin-left: -2.0px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.AURORA-DESKTOP .mesa-de-trabajo {
  top: 1002px;
  left: 310px;
  width: 807px;
  position: absolute;
  height: 454px;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.AURORA-DESKTOP .group {
  position: absolute;
  top: 519px;
  left: 181px;
  width: 55px;
  height: 55px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px #00000040;
}

.AURORA-DESKTOP .arrow {
  width: 26px;
  height: auto;
  position: static; /* importante: para que flex lo centre */
}

.AURORA-DESKTOP .mesa-de-trabajo-2 {
  top: 523px;
  left: 311px;
  width: 806px;
  position: absolute;
  height: 454px;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.AURORA-DESKTOP .mesa-de-trabajo-3 {
  top: 1497px;
  left: 311px;
  width: 806px;
  position: absolute;
  height: 454px;
  aspect-ratio: 1.78;
  object-fit: cover;
}
/* Inject original CSS here */

.AURORA-DESKTOP .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.AURORA-DESKTOP .component,
.AURORA-DESKTOP .div-wrapper,
.AURORA-DESKTOP .component-2,
.AURORA-DESKTOP .component-3 {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AURORA-DESKTOP .component:hover,
.AURORA-DESKTOP .div-wrapper:hover,
.AURORA-DESKTOP .component-2:hover,
.AURORA-DESKTOP .component-3:hover {
  background-color: #333333;
  transform: scale(1.05);
}

.AURORA-DESKTOP .component:focus,
.AURORA-DESKTOP .div-wrapper:focus,
.AURORA-DESKTOP .component-2:focus,
.AURORA-DESKTOP .component-3:focus {
  outline: 2px solid #ffc02f;
  outline-offset: 2px;
}

.AURORA-DESKTOP .text-wrapper,
.AURORA-DESKTOP .div,
.AURORA-DESKTOP .text-wrapper-2,
.AURORA-DESKTOP .text-wrapper-3 {
  position: static;
  width: auto;
  height: auto;
  top: auto;
  left: auto;
}

.AURORA-DESKTOP .text-wrapper-5,
.AURORA-DESKTOP .text-wrapper-6,
.AURORA-DESKTOP .text-wrapper-7,
.AURORA-DESKTOP .text-wrapper-8 {
  cursor: pointer;
  transition: color 0.3s ease;
}

.AURORA-DESKTOP .text-wrapper-5:hover,
.AURORA-DESKTOP .text-wrapper-6:hover,
.AURORA-DESKTOP .text-wrapper-7:hover,
.AURORA-DESKTOP .text-wrapper-8:hover {
  color: #ffc02f;
}

.AURORA-DESKTOP .text-wrapper-5:focus,
.AURORA-DESKTOP .text-wrapper-6:focus,
.AURORA-DESKTOP .text-wrapper-7:focus,
.AURORA-DESKTOP .text-wrapper-8:focus {
  outline: 2px solid #ffc02f;
  outline-offset: 2px;
}

.AURORA-DESKTOP .text-wrapper-10,
.AURORA-DESKTOP .text-wrapper-11 {
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.AURORA-DESKTOP .text-wrapper-10:hover,
.AURORA-DESKTOP .text-wrapper-11:hover {
  color: #ffc02f;
  text-decoration: underline;
}

.AURORA-DESKTOP .text-wrapper-10:focus,
.AURORA-DESKTOP .text-wrapper-11:focus {
  outline: 2px solid #ffc02f;
  outline-offset: 2px;
}

.AURORA-DESKTOP .barra form {
  position: relative;
  width: 100%;
  height: 100%;
}

.AURORA-DESKTOP #email-input {
  position: absolute;
  top: 51px;
  left: 0;
  width: 372px;
  height: 47px;
  background-color: transparent;
  border: none;
  border-radius: 28.2px;
  padding-left: 19px;
  padding-right: 80px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14.1px;
  letter-spacing: 0;
  line-height: normal;
  z-index: 2;
}

.AURORA-DESKTOP #email-input::placeholder {
  color: #818181;
}

.AURORA-DESKTOP #email-input:focus {
  outline: 2px solid #ffc02f;
  outline-offset: 2px;
}

.AURORA-DESKTOP .send-button {
  position: absolute;
  top: 51px;
  left: 305px;
  width: 67px;
  height: 47px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.AURORA-DESKTOP .send-button:hover {
  transform: scale(1.1);
}

.AURORA-DESKTOP .send-button:focus {
  outline: 2px solid #ffc02f;
  outline-offset: 2px;
}

.AURORA-DESKTOP .send-button .send {
  position: static;
  top: auto;
  left: auto;
}

.AURORA-DESKTOP .group {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  padding: 0;
}

.AURORA-DESKTOP .group:hover {
  background-color: #333333;
  transform: scale(1.1);
}

.AURORA-DESKTOP .group:focus {
  outline: 2px solid #ffc02f;
  outline-offset: 2px;
}

.AURORA-DESKTOP .derechos-reservados a {
  color: #000000;
  text-decoration: none;
}

.AURORA-DESKTOP .derechos-reservados a:hover {
  text-decoration: underline;
}

.AURORA-DESKTOP .derechos-reservados a:focus {
  outline: 2px solid #ffc02f;
  outline-offset: 2px;
}
